
.daily{
    height: 100px;
    width: 600px;
    background: rgba(72,132,234,1);
    margin: 10px;
    padding-left: 50px;
    font-size: 20pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 7px 7px 7px 7px;
    
}
.dayForcast{
    margin-left: 200px;

}

.current {
display: flex;
justify-content: flex-end;
margin-right: 30px;
margin-top: 100px;
}